:root {
    --rowNum: 6;
    --colNum: 6;
    --gridHeight: auto;
}

* {
    margin: 0px;
    padding: 0px;
}

#lvlName {
    margin-bottom: 20px;
}

button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 20px;
}

.wrapper {
    display: grid;
    grid-template-columns: 0.2fr auto;
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}

nav {
    margin-top: 5px;
    margin-left: 5px;
    grid-column: 1;
    height: 98%;
    box-shadow: 0px 10px 20px #0078a3;
    border-radius: 6px;
    background-color: black;
}

nav h2 {
    color: white;
    text-align: center;
    font: 2em bold;
    margin: 2px 0 0 0;
    padding: .5em .5em .5em .7em;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border: 1px solid #59b4d4;
    background: #0078a3 url("images/ui-bg_glass_40_0078a3_1x400.png") 50% 50% repeat-x;
}

.tile img {
    width: 100px;
}

.gridTemplate label {
    color: white;
    font: 1.5em bold ;
}

main {
    grid-column: 2;
    display: grid;
    grid-template-columns: repeat(var(--rowNum), var(--gridHeight));
    grid-template-rows: repeat(var(--colNum), var(--gridHeight));
    grid-gap: 10px;
    padding: 2em;
}

.gridItem {
    max-width: 100%;
    max-height: 100%;
    grid-column-start: auto;
    grid-row-start: auto;
    border: 1px solid #59b4d4;
    border-radius: 3px;
    background: #0078a3 url("../images/Floor.png") 50% 50% repeat-x;
    background-size: cover;
    box-shadow: 5px 5px 5px #0078a3;
}

.player1 {
    box-shadow: 8px 8px 8px darkgreen;
}

.player2 {
    box-shadow: 8px 8px 8px darkblue;
}

#workingZone .ui-selecting {opacity: 0.4;}

#workingZone .ui-selected { opacity: 0.7;}

.mur {
    background-image: url("../images/mur.jpg");
    background-size: cover;
}

.murUp.arbre {
    background-image: url("../images/mur&treeUp.png");
    background-size: cover;
}

.murDown.arbre {
    background-image: url("../images/mur&treeDown.png");
    background-size: cover;
}

.murUp {
    background-image: url("../images/murUp.png");
    background-size: cover;
}

.murDown {
    background-image: url("../images/murDown.png");
    background-size: cover;
}

.plancher {
    background-image: url("../images/Floor.png");
    background-size: cover;
}

.arbre {
    background-image: url("../images/arbre.png");
    background-size: 25%;
    background-repeat: no-repeat;
}

.plancher.arbre {
    background-image: url("../images/Floor&Tree.png");
    background-size: cover;
}

.mur.arbre {
    background-image: url("../images/mur&tree.png");
    background-size: cover;
}

fieldset {
    text-align: justify;
}

.checkbox {
    padding-bottom: 10px;
}